<a href="https://colab.research.google.com/github/wslock/-D012513A_Python_20230124/blob/main/Practical%20Python%20Specialized%20Bioinformatics%2020230124%20solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Python Specialized Bioinformatics

#### 24/01/2023

For this exam you are asked to complete the Python code between the 

```
#start code here

#end code here
```

comments. 

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository. 

Please write your name and studentnumber in the text box below:

### Name: Warre Slock

### Number: 01903407

### Total points:    / 25

In [1]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

**question 1 (2pts)**

Create a Pandas DataFrame called `patients` that looks like this:

|           | gene_1 | gene_2 |
|-----------|--------|--------|
| patient_1 | 0.54   | 0.32   |
| patient_2 | 0.66   | 0.10   |

In [3]:
#start code here

patients = pd.DataFrame({'gene_1':[0.54, 0.66], 'gene_2':[0.32, 0.10]}, index=['patient1', 'patient2'])

#end code here

patients

          gene_1  gene_2
patient1    0.54    0.32
patient2    0.66    0.10

**question 2 (1pt)**

Use the Pandas DataFrame `.head()` function to print the first row of the `patients` DataFrame.

In [4]:
#start code here
patients.head()
#end code here

          gene_1  gene_2
patient1    0.54    0.32
patient2    0.66    0.10

The following code loads the dataset we will use for this exam.

In [ ]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 3 (1pt)**
    
Print the number of rows and columns in the `dataset` DataFrame.

In [ ]:
#start code here

print("Number of rows = {}".format()
print("Number of columns = {}".format()

#end code here

**question 4 (1pt)**

Print the column `label` from the `dataset` DataFrame. Don't use `.loc` or `.iloc`.

In [ ]:
#start code here

#end code here

**question 5 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.loc`.

In [ ]:
#start code here

#end code here

**question 6 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.iloc`.

In [ ]:
#start code here

#end code here

**question 7 (1pt)**

Print the label of the third row in the `dataset` DataFrame.

In [ ]:
#start code here

#end code here

**question 8 (1pt)**

Print the subset of the `dataset` DataFrame that only contains the columns in the Python list `cols_to_print`. You have to use the `cols_to_print` list in the code that creates the subset.

In [ ]:
cols_to_print = ['mean area','mean concavity','mean symmetry','label']

#start code here

#end code here

**question 9 (2pts)**

Print all the rows in the `dataset` DataFrame with `mean symmetry` > 0.2 and `label` equal to 1.

In [ ]:
#start code here

#end code here

**question 10 (2pts)**

Print the median of the `area error` column in `dataset` for all rows with `label` equal to 1.

In [ ]:
#start code here

#end code here

**question 11 (3pts)**

Create a Pandes Series called `mean_area_ordinal` that, for each row in `dataset`, contains the value `low` if the value for `mean area` is within [0,420[, the value `middle` if the value for `mean area` is within [420,550[ and the value `high` if the value for `mean area` is larger of equal to 550. Use the `.apply()` function.

In [ ]:
#start code here
    
#end code here

print(mean_area_ordinal)

**question 12 (1pt)**

Write one line of code that shows how many datapoints in `mean_area_ordinal` have value `high`, how many have value `middle` and how many have value `low`.

In [ ]:
#start code here

#end code here

**question 13 (2pts)**

To prepare for Scikit-learn model fitting we need to keep the feature vectors and the label separate. Create a variable `X` that contains all the 30 features in `dataset` and a variable `y` that contains the label.

In [ ]:
#start code here

X = 
y = 

#start code here

print(X.shape)
print(y.shape)

**question 14 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [ ]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm = 

#start code here

print(X_norm)

**question 15 (1pt)**

What does the following code do? What is in `X_train`, `X_test`, `y_train` and `y_test`?

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

*Answer here*

**question 16 (2pts)**

Use the training set to compute the opimal values for the modelparameters in a Logistic Regression model (with hyperparameter `random_state` set to 1, all other hyperparameter values should be set to their Scikit-learn default values).

In [ ]:
from sklearn.linear_model import LogisticRegression

#start code here

#end code here

**question 17 (2pts)**

Given the fitted model, compute predictions on the test set and compute the Area Under the Receiver Operating Characteristic curve (AUC) for these predictions.

In [ ]:
from sklearn.metrics import roc_auc_score

#start code here

predictions = 
score_auc = 

#end code here

print(score_auc)